*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#LandingPageBackground{
    height: 100vh;
    background-image: url(../image/landing-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#LandingPageNavContainer{
    position: absolute;
    width: 221px;
    height: 23px;
    left: 75px;
    top: 75px;
}