*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.bg-black-wp{
    background-color: #222324;
}

.h-100vh{
    height: 100vh;
}

.text-yellow{
    color: #FFDA00;
}

.bg-yellow{
    background-color: #FFDA00;
}

/* Background setting */

.bg-landing{
    background-image: url(../image/landing-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}