*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

nav{
    width: 100vw;
    position: fixed;
    top: 0;
}

nav .container{
    display: flex;
    margin: 30px 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav .container img{
    width: 15rem;
}

nav .container .navbar-items{
    display: flex;
    font-weight: 400;
    color: white;
}

nav .container .navbar-items p{
    font-weight: 400;
    color: white;
}

nav .container .navbar-items a{
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.signup-section{
    width: 100%;
    height: 100vh;
    display: flex;
}

.signup-section .pic-25{
    display: flex;
    background-image: url('../image/login-background.png');
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 100vh;
}

.signup-section .container{
    background-color: #222324;
    padding-left: 50px;
    width: 100%;
}

.signup-section .container .container-inside{
    margin: 7rem 1.5rem;
    display: flex;
}

.signup-section .container .container-inside .signup-text{
    color: #FFDA00;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.signup-section .container .container-inside .signup-text h5{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 50px;
    display: flex;
    align-items: center;
}

.signup-section .container .container-inside .signup-text h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-section .container .container-inside .signup-text h3 .fill-the-form{
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    display: flex;
}

.signup-section .container .container-inside form{
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    width: 50%;
}

.signup-section .container .container-inside form label{
    color: #FFDA00;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    margin: 1rem 0rem;
    display: flex;
    align-items: flex-end;
}

.signup-section .container .container-inside form input{
    background-color: transparent;
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
    box-sizing: border-box;
    padding: 1rem 0.5rem;
    margin-bottom: 2rem;
}

.signup-section .container .container-inside form button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
    width: 18.75rem;
    font-weight: 700;
    margin: 2rem auto;
    background: #FFDA00;
    border-radius: 15px;
}

